<div class="container">
    <div class="row">
      <div class="col">
        <h1>Input Expenses and Earnings</h1>
        <hr>
        <form action="/inputForm" method="POST">

            <div class="form-group">
              <label>Enter Monthly Food Expenses</label>
              <input type="number" class="form-control" id="food" name="food" placeholder="$###">
            </div>
          
            <div class="form-group">
              <label>Enter Monthly Housing Expenses</label>
              <input type="number" class="form-control" id="housing" name="housing" placeholder="$###">
            </div>
          
            <div class="form-group">
              <label>Enter Monthly Miscellaneous Expenses</label>
              <input type="number" class="form-control" id="misc" name="misc" placeholder="$###">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  </div>